<!-- name of layout -->
{{!< fruits}}

{{#content 'pageStyles'}}
<style>
  li {
    color: #800;
  }
</style>
{{/content}}


<h1>{{title}}</h1>
<ul>
    {{#each fruits}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>
