<!-- name of layout -->
{{!< ../layout/fruits}}

{{#contentFor 'pageStyles'}}
<style>
  li a {
    color: #800;
  }
</style>
{{/contentFor}}


<h1>{{title}}</h1>
<ul>
    {{#each fruits}}
    <li>
      <a href="/fruits/{{this.name}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>
