{{#content 'pageStyles'}}
<style>
  .clicker {
    color: blue;
  };
</style>
{{/content}}


{{#content 'pageScripts'}}
<script>
  $(function() {
    $('.clicker').click(function() {
      $(this).text('Hello express-hbs!');
    });
  });
</script>
{{/content}}


<h1>{{title}}</h1>
<p class='clicker'>Click me!</p>
<p>
  <a href='/fruits'>Favorite fruits</a>
</p>
<p>
  <!-- sync helper -->
  {{{link 'Vegetables' href='/veggies'}}}
</p>

<!-- async helper -->
<div>
{{{readFile 'tos.txt'}}}
</div>




