{{#contentFor 'pageStyles'}}
<style>
  li {
    color: #800;
  }
</style>
{{/contentFor}}

{{> sub/comment}}
<h1>{{title}}</h1>
<ul>
    {{#each veggies}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>
